@import url('../css/lib/variables.css');
@import url('../css/lib/normalize.css');

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--white-40);
}
